* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #1F2937;
    color: white;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

header p, li, a {
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

header p {
    font-weight: 700; 
} 

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
}

.nav_links li:hover{
    font-weight: normal;
}

footer {
    font-size: 12px;
    font-weight: 300;
    justify-content: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    max-height: 22vh;
    flex: 1;
    
}

.content > * {
    overflow: scroll;
}

#one { 
    display: flex;
    background-color: #1F2937; 
    padding: 0 10vw;
    gap: 3vw;
}

#one .content-left, .content-right {
    flex: 1;
    display: 1;
    flex-direction: column;
}

#one .content-right {
    background-color: gray;
    height: 120px;
}

#one h1 {
    font-size: 30px;
    color: #F9FAF9;
    font-weight: 900;
}

#one .content-left > p {
    font-size: 14px;
    color: #E5E7EB;
    font-weight: 300;
    margin-bottom: 10px;
}

#one .content-right > p {
    font-size: 10px;
    color: #E5E7EB;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

#one .btn {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 0.25rem;
    color: white;
    background-color: #3882f6;
    font-weight: 500;
    border-radius: 10%;
    width: 100px;
    height: 25px;
    text-align: center;

  }


#two { 
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    padding-top: 3vh;

}

#two h1 {
    color: #1F2937;
    font-size: 22px;
}

#two .img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    width: 90%; 
    margin-top: 30px;
}

.img-container > .square {
    width: 110px;
    height: 110px;
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
}

#three { 
    background-color: #E5E7EB; 
    display: flex;
    flex-direction: column;
}

#three .content-body {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
}

#three .content-signature {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 16px;
}

#three p {
    color: #1F2937;
}
#four { background-color: white; 
    flex: 1;
}
